.layout-topbar-blue {
    --topbar-bg: #0f2d52;
    --topbar-menu-button-bg: #ffffff;
    --topbar-menu-button-text-color: #0f2d52;
    --topbar-item-text-color: #ffffff;
    --topbar-item-hover-bg: rgba(255, 255, 255, 0.16);
    --topbar-border-color: #0f2d52;
}
