.layout-content-wrapper {
    padding-top: 4rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
    .layout-content {
        flex: 1 1 auto;
        padding: 2rem;
    }

    &.layout-dashboard-full {
        position: relative;
        background-color: transparent !important;
        padding-top: 4rem;

        .layout-content {
            position: relative;
            z-index: 1;
            padding: 0;
            display: flex;
            min-height: calc(100vh - 4rem);
        }
    }
}
